{% extends "base.html" %}

{% block title %}Automaatne parooli kontroll{% endblock %}

{% block content %}
    <div class="password-container">
            <h2>Kontrolli oma parooli</h2>
            <p>Sisesta näidisparool ning saa tagasisidet parooli tugevuse kohta.</p>
            <input type="password" id="password-input" placeholder="Sisesta parool testimiseks.">
            
            <div id="strength-bar-container">
                <div id="strength-bar">
                    <div id="wave"></div>   
            </div>
        </div>
        
        <button id="check-btn">Kontrolli parooli</button>
        <div id="feedback"></div>    
    </div>
{% endblock %}   