<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Parooli Tester{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lehe_kujundus_auto_background_shift.css') }}">
    <link rel="icon" href="data:;base64,=" />
</head>
<body>
    <header>
        <!-- Lehe logo -->
         <div class="logo-container">
            <img src="{{ url_for('static', filename='images/ParooliTester.gif') }}" alt="Logo" class = "logo">
         </div>

    <h1>PAROOLI TESTER</h1>

    <!-- Nupp, mis viib tagasiside lehele -->
    <button onclick="window.location.href='{{ url_for('tagasiside') }}'" class="mine-tagasiside-lehele-btn">
        Anna tagasisidet!   
    </button>

    <!-- Menüü ikoon -->
    <div class="menüü" onclick="toggleMenu()">
        <span class="menüü-text">Menüü</span>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <div class="dropdown-menu" id="dropdown-menu">
        <ul>
            <li><a href="/">∘ Avaleht</a></li>
            <li><a href="about">∘ Meist</a></li>
            <li><a href="kontakt">∘ Kontakt</a></li>
        </ul>
    </div>
</header>

    <main class="main-container">
        {% block content %} <!-- Siia läheb iga lehe ainulaadne sisu -->
        {% endblock %}
    </main>
    

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>