{% extends "base.html" %}

{% block title %}Meist{% endblock %}

{% block content %}
<div class ="about-container">
    <h2>Meist</h2>
    <p>
        Tere tulemast Parooli Testerisse! Meie eesmärk on aidata kasutajatel luua tugevaid ja turvalisi paroole, 
        mis kaitsevad nende isiklikku teavet. Meie tööriist annab reaalajas tagasisidet parooli tugevuse kohta ning 
        jagab soovitusi, kuidas seda parandada.
    </p>
    <p>
        Meie meeskond koosneb kogenud arendajatest ja küberturvalisuse spetsialistidest, kellel on kirg digitaalse turvalisuse vastu. 
        Meie missiooniks on teha interneti kasutamine turvalisemaks ja lihtsamaks kõigile.
    </p>
    <p>Meie disainitiim ei vastuta epilepsiahoogude eest, mis võivad tekkida teatud visuaalsete efektide tõttu.</p>
    <p>Veebilehe autoriteks on Mihkel Tomson, Mattias Villum, Oskar Maamets.</p>
</div>

{% endblock %}