{% extends "base.html" %}

{% block title %}Tagasiside{% endblock %}

{% block content %}
 
<div class="tagasiside-container">

    <h1 class="tagasiside-pealkiri">Jäta meile tagasisidet!</h1>
    <!-- Dark/Light mode nupp -->
        <div class="mode-toggle">
            <button id="mode-toggle-btn" onclick="toggleDarkMode()">☾</button>
        </div>

    <form action="{{ url_for('tagasiside') }}" method="POST">
        
        <div class="form-group">
            <label for="nimi">Teie nimi:</label>
            <input type="text" id="nimi" name="nimi" placeholder="Sisesta oma nimi" required>
        </div>
    
        <div class="form-group">
            <label for="email">Teie e-mail:</label>
            <input type="email" id="email" name="email" placeholder="Sisesta oma e-mail" required>
        </div>
        <div class="form-group">
            <label for="tagasiside">Tagasiside:</label><br>
            <textarea id="tagasiside" name="tagasiside" rows="6" placeholder="Sisesta oma tagasiside siia" required></textarea>
        </div>
        
        <button type="submit" class="tagasiside-nupp">Saada tagasiside</button>
    </form>
</div>
{% endblock %}